node_modules/
*/node_modules/

dist/
*/dist/

data/
backend/data/

.env
.env.local
*.local
backend/.env
frontend/.env

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
.vscode/
.idea/
